<div id="messages">
        <% Object.keys(messages).forEach(function (type) { %>
        
          <% messages[type].forEach(function (message) { %>
            <%  if(type=="success"){ %>
            <div class="alert alert-success"><font size = 6px><%= message %></font></div>
        <% } else {%>
        
            <div class="alert alert-danger"><font size = 6px><%= message %></font></div>
        <% } %>
          <% }) %>
        
        <% }) %>
        </div>
        