<!doctype html>
<html>
<head>
    <title>pop</title>
    <script src="javascripts/popupS.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/popupS.min.css">

    <script>
        popupS.window({
    mode: 'alert',
    content: 'Hey'
    });
    
    </script>
</head>
<body>
    <p>Hello</p>
</body>

</html>