<!doctype html>
<html>
<head>
    <title>tags</title>
    <link rel="stylesheet" href="Word Cloud/css/index.css" type="text/css" media="all" />  
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
<script type="text/javascript" src="Word Cloud/js/lib/jQWCloudv3.1.js"></script>
<script type="text/javascript" src="Word Cloud/js/index.js"></script>

</head>
<body>
    <p>Bye</p>
    <div id="wordCloud"></div>
</body>
</html>